{% extends "edu/base.html" %}
{% block content %}


<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ course.author }}</a>
      <small class="text-muted">Старт курса: {{ course.date_msk }} </small>
    </div>
    <h2><a class="article-title" href="#">{{ course.title }}</a></h2>
    <p class="article-content">Цена: {{ course.price }} рублей</p>

    <div class="article-metadata">
        <h3>Описание: Данный курс состоит из {{ course.number_of_lessons }} видео.</h3>
        <p>(Видео-уроки доступны для пользователей, оплативших курс и зачисленных в группу.)</p>
        <p>Перейти к <a class="article-title" href="{% url 'course-video' course.id %}">видео-урокам</a></p>


    </div>
  </div>
</article>

{% endblock content %}