{% extends "edu/base.html" %}
{% block content %}
    {% for product in products %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ product.author }}</a>
              <small class="text-muted">Старт курса: {{ product.start_date }} {{ product.start_time }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ product.name }}</a></h2>
            <p class="article-content">Цена: {{ product.price }} рублей</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}