{% extends "edu/base.html" %}
{% block content %}
    {% for product in products %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ product.author }}</a>
              <small class="text-muted">Старт курса: {{ product.date_msk }} </small>
            </div>
            <!-- <h2><a class="article-title" href="#">{{ product.title }}</a></h2>-->
            <h2><a class="article-title" href="{% url 'product-detail' product.id %}">{{ product.title }}</a></h2>
            <p>содержит {{ product.number_of_lessons }} видео-урока</p>
              <p class="article-content">Цена: {{ product.price }} рублей</p>
              <h3><a class="article-title" href="{% url 'buy-course' product.id %}"> Купить </a></h3>
          </div>
        </article>
    {% endfor %}
{% endblock content %}