{% extends "edu/base.html" %}
{% block content %}


<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ product.author }}</a>
      <small class="text-muted">Старт курса: {{ product.date_msk }} </small>
    </div>
    <h2><a class="article-title" href="#">{{ product.title }}</a></h2>
    <p class="article-content">Цена: {{ product.price }} рублей</p>

    <div class="article-metadata">
      <p>Описание: Данный курс состоит из {{ lessons|length }} видео.</p>
      {% if user.is_authenticated %}
        {% for lesson in lessons %}
        <p><a href="{{ lesson.video_link }}"> {{ lesson.title }} </a></p>
        {% endfor %}
      {% else %}
        Видео-уроки доступны для пользователей, оплативших курс и зачисленных в группу.
      {% endif %}
    </div>
  </div>
</article>

{% endblock content %}